@model  List<Hehimtap.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<a class="btn" style="background-color:black; color:white; font-size:15px;" href="@Url.Action("Block","User")">Qara Siyahi</a>
<br />
<table class="table table-active">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Mail</th>
            <th>TelefonNo</th>
            <th>Isdifadecini Blokla</th>
        </tr>
    </thead>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Ad</td>
            <td>@x.Soyad</td>
            <td>@x.Mail</td>
            <td>@x.TelefonNo</td>
            <td><a class="btn btn-danger" href="@Url.Action("Delete","User",new {Id=x.Id })">Blok</a></td>
        </tr>
    }

</table>

