@model List<Hehimtap.Models.Beyanat>
@{
    ViewBag.Title = "DoctorCateList";
    Layout = "~/Views/Shared/_IsdifadeciLayout.cshtml";
}
<br />
<br />
<div class="hero_home version_2">
    <div class="content">
        <h3>Find a Doctor!</h3>
        <p>
            Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
        </p>
        <form method="post" action="http://www.ansonika.com/findoctor/menu_2/list.html">
            <div id="custom-search-input">
                <div class="input-group">
                    <input type="text" class=" search-query" placeholder="Ex. Name, Specialization ....">
                    <input type="submit" class="btn_search" value="Search">
                </div>
                <ul>
                    <li>
                        <input type="radio" id="all" name="radio_search" value="all" checked>
                        <label for="all">All</label>
                    </li>
                    <li>
                        <input type="radio" id="doctor" name="radio_search" value="doctor">
                        <label for="doctor">Doctor</label>
                    </li>
                    <li>
                        <input type="radio" id="clinic" name="radio_search" value="clinic">
                        <label for="clinic">Clinic</label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
<br />
<div class="container" style="padding-top:50px;padding-bottom:60px;">
    <div class="row">
        @foreach (var x in Model)
        {



            <!--<div class="strip_list wow fadeIn">
                <a href="#0" class="wish_bt"></a>
                <figure>
                    <a href="detail-page.html"><img src="~/Images/@x.Sekil" alt=""></a>
                </figure>
                <small>@x.Doctor.Ad</small>
                <h3>@x.Doctor.Soyad</h3>
                <p>@x.Doctor.DoctorCategory.Ad</p>
                <span class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i> <small>(145)</small></span>
                <a href="badges.html" data-bs-toggle="tooltip" data-bs-placement="top" title="Badge Level" class="badge_list_1"><img src="img/badges/badge_1.svg" width="15" height="15" alt=""></a>
                <ul>
                    <li><a href="#0" onclick="onHtmlClick('Doctors', 0)" class="btn_listing">View on Map</a></li>-->
            @*<li><a href="https://www.google.com/maps/dir//Assistance+–+Hôpitaux+De+Paris,+3+Avenue+Victoria,+75004+Paris,+Francia/@48.8606548,2.3348734,14z/data=!4m15!1m6!3m5!1s0x0:0xa6a9af76b1e2d899!2sAssistance+–+Hôpitaux+De+Paris!8m2!3d48.8568376!4d2.3504305!4m7!1m0!1m5!1m1!1s0x47e67031f8c20147:0xa6a9af76b1e2d899!2m2!1d2.3504327!2d48.8568361" target="_blank">Directions</a></li>*@
            <!--<li><a href="@*@Url.Action(" MelumatGetr","FindHekim"*@ ,@*new{Id=x.Id}*@)">Book now</a></li>
                </ul>
            </div>-->
            <div class="container">
                <div class="card" style="width:400px;">
                    <img src="~/Images/@x.Sekil" style="height:280px;" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"> @x.Doctor.Ad @x.Doctor.Soyad</h5>
                        <p class="card-text">@x.Doctor.DoctorCategory.Ad</p>
                        <p class="card-text">@x.Doctor.Mail</p>

                    </div>
                </div>
            </div>
        }

        </div>
    </div>
