@model Hehimtap.Models.User
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}

<br />

<div class="content-wrapper">
    <div class="container">
        <table class="table table-active">
            <thead>
                <tr>
                    <th>Ad</th>
                    <th>Soyadi</th>
                    <th>Mail</th>
                    <th>TelefonNo</th>
                    <th>Sifre</th>
                    <th>Duyme</th>
                </tr>
            </thead>
            <tr>
                <td>@Model.Ad</td>
                <td>@Model.Soyad</td>
                <td>@Model.Mail</td>
                <td>@Model.TelefonNo</td>
                <td>@Model.Sifre</td>
                <td>
                    <a class="btn btn-primary" href="@Url.Action("UserYenile","FindUserInformation", new {Id=Model.Id })">Yenile</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<br />

